[submodule "diquemc-utils"]
	path = diquemc-utils
	url = git@bitbucket.org:hector22x/diquemc-utils.git
[submodule "diquemc-jedis"]
	path = diquemc-jedis
	url = git@bitbucket.org:hector22x/diquemc-jedis.git
[submodule "diquemc-nick"]
	path = diquemc-nick
	url = git@bitbucket.org:diquemc/diquemc-nick.git
[submodule "diquemc-skin"]
	path = diquemc-skin
	url = git@bitbucket.org:diquemc/diquemc-skin.git
[submodule "diquemc-imagemaps"]
	path = diquemc-imagemaps
	url = git@bitbucket.org:diquemc/diquemc-imagemaps.git
